@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
body {
  background: #0f172a; /* dark bg */
  color: #e6eef8;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
